<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu.chatgirl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chat"
        android:label="陪聊"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.edit.EditViewActivity" />
        <activity
            android:name=".view.StyleActivity"
            android:theme="@style/CustomTitleBarThemeOther" />
        <activity android:name=".view.TypeGrilActivity" />
        <activity android:name=".view.AboutGrilGrilActivity" />
        <activity android:name=".view.SettingGrilActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.edit.EditShowInfoActivity" />
        <activity
            android:name=".view.SplashDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/chat"
            android:label="陪聊"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>